.intro__author {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}