.footer__navigation {
    display: flex;
    list-style-type: none;
    width: 60%;
    align-items: center;
    padding-left: 0px;

}

@media screen and (max-width: 530px) {
    .footer__navigation {
        width: 100%;
        display: table;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 375px) {
    .footer__navigation {
        width: 100%;
        display: table;
        margin-bottom: 30px;
    }
}